---
import Menu from "../../layouts/Menu.astro"
---

<Menu title="trabajos">
    <div class="menu-trabajos">
        <div class="trabajos-contenedor">
        <video src="/video/trabajos.mp4" autoplay loop muted class="trabajos-video"></video>
        <div class="trabajos-textos">
            <span class="trabajos-titular">Transformamos Ideas en</span>
            <h2 class="trabajos-titulo">Identidades <br>Digitales <br>Memorables</h2>
            <p class="trabajos-texto">Cada proyecto que realizamos tiene una meta clara, resolver problemas. Nuestra dedicación a la eficiencia garantiza que cada línea de código, cada elemento visual, contribuya no solo a la estética, sino también a la funcionalidad y al impacto deseado.</p>
            <p class="trabajos-mensaje">Resolveremos tus necesidades, inlcuso las que aún no sabes que tienes.</p>
            <a href="#" class="trabajos-boton">Conoce nuestros trabajos</a>
        </div>
        </div>
    </div>
</Menu>
<style>
    .menu-nosotros, .menu-servicios, .menu-trabajos, .menu-contacto{
    opacity: 1;
    min-width: 60vw;
    display: flex;
    height: 100%;
    }
    .trabajos-contenedor{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    max-height: 100vh;
    width: 100%;
    }
    .trabajos-video{
    height: 100vh;
    width: auto;
    box-sizing: border-box;
    }

    .trabajos-textos{
    margin: 10% 5%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    height: 100vh;
    }


    .trabajos-titular{
    font-size: 2vh;
    font-family: sans-serif;
    margin: -8% 0;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
    opacity: .3;

    }
    .trabajos-titulo{
      font-family: 'IBM Plex serif', sans-serif;
      font-size: 6vh;
      text-transform: uppercase;
      background-image: url(/gif/Diseño-sin-título-_2_.gif);
      background-clip: text;
      color: transparent;
    }

    .trabajos-texto{
    width: 70%;
    font-size: 20px;
    }
    .trabajos-mensaje{
    width: 70%;
    font-size: 20px;
    background-image: url(/gif/Diseño-sin-título-_2_.gif);
    color: transparent;
    font-weight: bold;
    background-clip: text;
    }

    .trabajos-boton {
    color: #000;
    position: absolute;
    bottom: 5%;
    padding: 14px 0;
    text-decoration: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    opacity: 0.4;
    text-transform: uppercase;
    }

    .trabajos-boton::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease;
    }

    .trabajos-boton:hover::before {
    width: 100%;
    }

    .trabajos-boton::after {
    content: "➢";
    scale: 1;
    position: relative; /* Cambia relative a absolute */
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-left: 100px;
    }

    .trabajos-boton:hover::after {
    opacity: 1;
    }

    .trabajos-boton:hover {
    transition: ease-in-out 0.3s;
    opacity: 1;
    }
    @media(max-width: 700px){
  
  .trabajos-contenedor{
    width: 100%;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .trabajos-titulo{
    font-size: 4vh;
    
  }
  .trabajos-titular{
    font-size: 11px;
    margin-top: 50px;
  }
  .trabajos-texto{
    font-size: 14px;
    width: 100%;
  }
  .trabajos-mensaje{
    font-size: 15px;
  }
  .trabajos-boton{
    position: relative;
    margin: 20% 0 0 0;
    font-size: 14px;
    width: 70%;
  }
  .trabajos-boton::after {
    margin-left: 10%;
  }
  .trabajos-boton:hover::before {
    width: 100%;
  }
}
</style>

