---

---
  <button id="menu-btn">Menú</button>
  <div class="menu-overlay" id="menu-overlay">
    <ul class="nav">
      <li><a href="/nosotros">Nosotros</a></li>
      <li><a href="/servicios">Servicios</a></li>
      <li><a href="/trabajos">Trabajos</a></li>
      <li><a href="/contacto">Contacto</a></li>
    </ul>
  </div>
<script>
  const menuBtn = document.getElementById('menu-btn');
const menuOverlay = document.getElementById('menu-overlay');

menuBtn.addEventListener('click', function() {
  menuBtn.style.color = 'var(--white)'
  menuOverlay.classList.toggle('open');
  document.body.classList.toggle('menu-open');
});

menuOverlay.addEventListener('click', function(e) {
  if (e.target === menuOverlay) {
    menuOverlay.classList.remove('open');
    document.body.classList.remove('menu-open');
  }
});
</script>
<style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #menu-btn{
    background: none;
    border: none;
    font-family: 'CabinetGrotesk-Variable', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
    z-index: 999;
    color: var(--white);
    margin-right: 20px;
    animation: fondo-color linear both;
    animation-timeline: scroll(block);
    animation-range: entry 0% cover 1vh;
  }
@keyframes fondo-color {
  to{
    fill:var(--black);
    color: var(--black);
  }
}
  .menu-overlay {
  position: fixed;
  top: 70px;
  left: 0;
  max-width: 100%;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: var(--white);
  transition: height 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.nav {
  margin:0;
  list-style-type: none;
  padding: 0;
}

.nav li {
  display: flex;
  margin-left: 5%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  a{
    font-family: 'Melodrama', serif;
    font-style: italic;
    font-weight: 900;
    opacity: .7;
    color: var(--black);
    text-decoration: none;
    font-size: 1.9em;
}
a:hover{
  opacity: 1;
}
}
/* Animación para abrir el menú */
.menu-overlay.open {
  height: 210px;

}
</style>

<style is:global>
  body.menu-open {
  overflow: hidden;
  section {
   filter: blur(40px) brightness(.5);
  }
  footer{
   filter: blur(40px);

  }
}
</style>