---

---
  <button id="menu-btn">Menú</button>
  <div class="menu-overlay" id="menu-overlay">
    <ul class="nav">
      <li><a href="/nosotros">Nosotros<span> →</span></a></li>
      <li><a href="/servicios">Servicios<span> →</span></a></li>
      <li><a href="/trabajos">Trabajos<span> →</span></a></li>
      <li><a href="/contacto">Contacto<span> →</span></a></li>
    </ul>
  </div>
  <script>
    const menuBtn = document.getElementById('menu-btn');
    const menuOverlay = document.getElementById('menu-overlay');
  
    menuBtn.addEventListener('click', function() {
      menuOverlay.classList.toggle('open');
      document.body.classList.toggle('menu-open');
  
      // Cambiar el texto del botón con un fade
      if (menuBtn.textContent === 'Menú') {
        menuBtn.style.transition = 'opacity 0.5s ease-in-out';
        menuBtn.textContent = 'Cerrar';
        setTimeout(() => {
          menuBtn.style.opacity = '1';
        }, 1000); // Pequeño retraso para que la transición ocurra
      } else {
        menuBtn.style.transition = 'opacity 0.5s ease-in-out';
        menuBtn.textContent = 'Menú';
        setTimeout(() => {
          menuBtn.style.opacity = '1';
        }, 50); // Pequeño retraso para que la transición ocurra
      }
    });
  
    menuOverlay.addEventListener('click', function(e) {
      if (e.target === menuOverlay) {
        menuOverlay.classList.remove('open');
        document.body.classList.remove('menu-open');
        // Restaurar el texto del botón
        menuBtn.textContent = 'Menú';
      }
    });
  </script>
<style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #menu-btn{
    background: none;
    border: none;
    font-family: 'CabinetGrotesk-Variable', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    padding: 10%;
    z-index: 999;
    color: var(--black);
    width: 100%;
    animation: fondo-color linear both;
    animation-timeline: scroll(block);
    animation-range: entry 0% cover 1vh;
  }
@keyframes fondo-color {
  to{
    fill:var(--black);
    color: var(--black);
  }
}
  .menu-overlay {
  position: fixed;
  top: 80px;
  left: 0;
  max-width: 100%;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: var(--white);
  transition: height 0.3s ease-in-out;
  
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:0;
  list-style-type: none;
  padding: 0;
}

.nav li {
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100%/4);
  a{
    font-family: 'CabinetGrotesk-Variable', sans-serif;
    font-weight: bold;
    color: var(--black);
    text-decoration: none;
    font-size: 22px;
    width: 100%;
    letter-spacing: 2px;
    span{
      opacity: 0;
    }
}

a:hover{
  opacity: 1;
  span {
                transition: ease 0.4s;
                opacity: 1;
                scale: 1.1;
                margin-left: 40px;
            }
}
}
/* Animación para abrir el menú */
.menu-overlay.open {
  height: 210px;

}
</style>

<style is:global>
  body.menu-open {
  overflow: hidden;
  section {
   filter: blur(40px);
  }
  footer{
   filter: blur(40px);

  }
}
</style>