---

---
<div class="movil">
    <img src="/logos/completoo.svg" alt="" class="logo">
</div>
<div class="barra">
    <img src="/logos/completoo.svg" alt="" class="logo">
</div>
<style>
    .movil{
        display: none;
        margin: 0;
        padding: 0;
        height: 23px;
    }
    .barra{
        display: flex;
        justify-content: center;
        align-items: center
        margin: 0;
        padding: 0;
        height: 70%;
    }
    .logo{
        height: 100%;
        filter: invert(1);
        animation: cambio-color linear both;
        animation-timeline: scroll(block);
        animation-range: entry 0vh cover 2vh;
    }
    @keyframes cambio-color {
        to{
            filter: invert(0);
        }
    }
    @media (max-width: 700px) {
        .barra{
            display: none;
        }
        .movil{
            margin-bottom: 10px;
            display: block;
            animation: cortar linear both;
            animation-timeline: scroll(block);
            animation-range: entry 0vh cover 2vh;
        }
    }
    @keyframes cortar {
        to{
            margin: 0;
            padding: 0;
            height: 30px;
            width: 30px;
            overflow: hidden;
        }
    }
</style>
