---
import Boton from "../interface/Boton.astro"
---
<section>
  <ul class="list">
    <li class="item">
      <i></i>
      <h2 class="title">Branding
      <span class="arrow">▶</span>
      </h2>
      <p class="description">Creación de identidad visual y mensaje para una marca con el objetivo de diferenciarla y conectar con su audiencia.</p>
    </li>
    <li class="item">
      <i></i>
      <h2 class="title">UI/UX
      <span class="arrow">▶</span>
      </h2>
      <p class="description">Diseño de interfaces de usuario centrado en la experiencia del usuario, asegurando una navegación intuitiva y agradable.</p>
    </li>
    <li class="item">
      <i></i>
      <h2 class="title">Web Development
      <span class="arrow">▶</span>
      </h2>
      <p class="description">Construcción de sitios web utilizando tecnologías de punta para crear experiencias memorables.</p>
    </li>
    <li class="item">
      <i></i>
      <h2 class="title">SEO
      <span class="arrow">▶</span>
      </h2>
      <p class="description">Optimización de sitios web para mejorar su visibilidad en los resultados de búsqueda, aumentando el tráfico orgánico y la relevancia en línea.</p>
    </li>
    <li class="item">
      <i></i>
      <h2 class="title">Packaging & Logo Design
      <span class="arrow">▶</span>
      </h2>
      <p class="description">Creación de envases atractivos y logotipos distintivos que reflejen la identidad de una marca y la diferencien en el mercado.</p>
    </li>
    <li class="item">
      <i></i>
      <h2 class="title">Digital Marketing
      <span class="arrow">▶</span>
      </h2>
      <p class="description">Estrategias y tácticas para promocionar productos o servicios utilizando canales digitales como redes sociales, correo electrónico y publicidad en línea.</p>
    </li>
  </ul>
  <Boton text="Contactanos" url="/contacto" bottom="20vh" left="calc(100vw /2)"/>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
  const items = document.querySelectorAll('.item');

  items.forEach(item => {
    item.addEventListener('click', function() {
      const description = this.querySelector('.description');
      const arrow = this.querySelector('.arrow');

      description.classList.toggle('open');
      arrow.classList.toggle('rotate');
    });
  });
});
  </script>
</section>

<style>
  section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
  }
  .list{
    width: 100%;
    padding: 0;
  }
  .item {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    margin: 0 10px 20px 0;
}

.title {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  font-size: 14px;
}

.description {
  display: none;
  margin-top: 5px;
  font-size: 16px;
}

.open {
  display: block;
  background-color: var(--black);
  color: var(--white);
  margin: 20px 0;
  padding: 10px;
}
.rotate{
  transform: rotate(90deg);

}
</style>