---
import NavBar from "../layouts/NavBar.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Enviado" scroll="auto">
    <NavBar scrollE="100vh" scrollC="200vh"/>
    <section>
        <h1>Enviado con <span>éxito</span></h1>
        <p>Nos pondremos en contacto contigo a la brevedad</p>
    </section>
</Layout>

<style>
    section{
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        flex-direction: column;
        h1{
            color: var(--white);
            font-size: 4em;
            font-weight: normal;
        }
        span{
            font-style: italic;
            font-weight: bold;
        }
        p{
            color: var(--white);
            font-weight: bold;
            font-size: 1em;
        }
}
</style>