---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/interface/NavBar.astro";
import Footer from "../components/interface/Footer.astro";
import Card from "../components/index/Card.astro";
import Works from "../components/index/Works.astro"
import HelloThere from "../components/index/HelloThere.astro"
---

<Layout title="Bienvenidos" scroll="none">
    <section class="bienvenida">
        <div class="bar">
            <NavBar scrollC="100vh" scrollE="20vh"/>
        </div>
        <div class="bienvenida-textos">
            <h4 class="bienvenida-hello">¡Hello there!</h4>
            <h1 class="bienvenida-titulo">
                <span class="bienvenida-upper">Resolvemos</span> problemas. <br
                />
                Impulsamos <span class="bienvenida-upper">ideas</span>. <br />
                Creamos soluciones que <span class="bienvenida-upper"
                    >funcionan</span
                >.
            </h1>
            <h4 class="bienvenida-since">_SINCE 2019</h4>
        </div>
    </section>
    <HelloThere/>
    <Card/>
    <separador>
        <h2>Trabajos<br><span>destacados</span></h2>
    </separador>
    <Works/>
    <Footer/>
</Layout>
<style>
    separador{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 100px 0;
        color: var(--white);
        h2{
            text-align: center;
            text-transform: uppercase;
            font-size: 5em;
            font-weight: lighter;
            font-style: italic;
        }
        span{
            font-family: sans-serif;
            font-style: normal;
            font-weight: bold;
        }
    }
    section{
        color: var(--white);
    }
    .sep-title{
        color: var(--white);
        width: 100%;
        display: inline-block;
        margin-left: 5%;
        font-size: clamp(20px, 3em, 60px);
        font-weight: normal;
    }
    .bienvenida {
        height: 100vh;
        font-size: clamp(20px, 1.2vw, 40px);
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        color: var(--black);
        overflow: hidden !important;
        color: var(--white);
    }
    .bienvenida-textos {
        margin-left: 5%;
        margin-bottom: 2%;
    }

    .bienvenida-titulo {
        font-family: "IBM Plex Serif";
        font-weight: normal;
        padding: 0;
        margin: 0;
    }
    .bienvenida-hello {
        margin: 0;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: normal;
        font-style: normal;
    }
    .bienvenida-since {
        margin: 1em 0;
        font-size: 0.8em;
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: normal;
        font-style: normal;
    }

    .bienvenida-upper {
        font-size: 1em;
        font-weight: bold;
        font-style: italic;
    }
    .quehacemos{
        margin-left: 5%;
        font-size: 1.5em;
        font-family: serif;
        font-weight: bold;
    }
    @media (max-width: 700px) {
        .bienvenida {
            height: 92vh;
            padding-bottom: 10vh;
            width: 100vw;
            overflow: hidden;
        }
        .bienvenida-textos{
            font-size: clamp(14px, 3.9vw, 16px);
            width: 90%;
        }
        separador{
        h2{
            font-size: 2em;
        }
    }
    }
</style>
