---
import Layout from "../layouts/Layout.astro";
import NavBar from "../layouts/NavBar.astro";
import Footer from "../components/interface/Footer.astro";
import Works from "../components/index/Works.astro";
import HelloThere from "../components/index/HelloThere.astro";
import ServiciosIndex from "../components/index/ServiciosIndex.astro"
import About from "../components/index/About.astro"
---

<Layout title="Bienvenidos" scroll="none">
    <NavBar scrollC="100vh" scrollE="20vh">
        <section class="bienvenida">
            <div class="bienvenida-textos">
                <h1 class="bienvenida-titulo">
                    <span class="bienvenida-upper">Resolvemos</span> problemas.<br
                    />
                    Impulsamos <span class="bienvenida-upper">ideas</span>.<br />
                    Creamos soluciones que <span class="bienvenida-upper"
                        >funcionan</span
                    >.
                </h1>
                <h4 class="bienvenida-hello">Resolvemos con diseño, impulsamos con marketing y solucionamos con desarrollo web y automatizaciones.</h4>
            </div>
        </section>
        <HelloThere r1="Somos especialistas en servicios" r2="para empresas emergentes" r3="" r4=""/>
        <!-- <HelloThere r1="Desarrollamos" r2="Tecnología y emociones" r3="trabajan juntos."/> -->
        <ServiciosIndex/>
        <!-- <SeviciosAcordion/> -->
        <HelloThere r1="Servicios" r2="" r3="" r4="Especializados"/>
        <Works/>
        <HelloThere r1="Programa" r2="P 21YMES" r3="" r4=""/>
        <About/>
        <Footer/>
    </NavBar>
</Layout>
<style>
    .bienvenida {
        height: 100vh;
        font-size: clamp(24px, 3em, 28px);
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--white);
    }
    .bienvenida-textos {
        text-align: center;
        /* margin-left: 5%; */
        /* margin-bottom: 2%; */

    }

    .bienvenida-titulo {
        color: var(--white);
        font-family: "Melodrama", serif;
        font-weight: normal;
        padding: 0;
        margin: 0;
    }
    .bienvenida-hello {
        color: var(--white);
        text-align: center;
        margin:  .6em 0;
        font-size: 1em;
        font-family: 'CabinetGrotesk-Variable', sans-serif;
        font-weight: 700;
        font-style: normal;
        text-transform: uppercase;
    }
    .bienvenida-since {
        color: var(--white);
        text-align: center;
        margin: 1em 0;
        font-size: 1em;
        font-family: 'CabinetGrotesk-Variable', sans-serif;
        font-weight: 700;
    }

    .bienvenida-upper {
        color: var(--white);
        font-size: 1em;
        font-weight: bold;
        font-style: italic;
    }
    .quehacemos{
        margin-left: 5%;
        font-size: 1.5em;
        font-family: serif;
        font-weight: bold;
    }
    @media (max-width: 700px) {
        .bienvenida {
            background: url('/Fondos/6.webp') no-repeat;
            background-size: cover;
            background-position: center center;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            /* margin-top: 70px; */
            height: 90vh;
            max-width: 100vw;
            background-color: var(--black);
            background-color: transparent;
            animation: fondos infinite 10s;
            padding-bottom: 10vh;
        }
        .bienvenida-textos{
            text-align: left;
        }
        .bienvenida-titulo{
            /* font-size: 24px; */
        }
        .bienvenida-upper{
            /* font-size: 24px; */
        }
        .bienvenida-hello{
            text-transform:none;
            font-size: 16px;
            font-weight: normal;
            text-align: left;
        }
        @keyframes fondos {
            0%{
            animation-delay: 1s;

            }
            20%{
                background: url('/Fondos/2.webp') no-repeat;
                background-size: cover;
            }
            40%{
                background: url('/Fondos/3.webp') no-repeat;
                background-size: cover;

            }
            60%{
                background: url('/Fondos/4.webp') no-repeat;
                background-size: cover;

            }
            80%{
                background: url('/Fondos/5.webp') no-repeat;
                background-size: cover;

            }
            100%{
                background: url('/Fondos/6.webp') no-repeat;
                background-size: cover;

            }
        }
        
        .bienvenida-textos{
            font-size: 18px;
            width: 90%;
        }
    }
</style>
