---
import Layout from "../layouts/Layout.astro"
import Header from "../layouts/Header.astro"
import Acordion from "../components/servicios/Acordion.astro"
import Footer from "../components/interface/Footer.astro"
---

<Layout title="Servicios" scroll="auto">
    <Header title="Servicios" scrollE="10vh" scrollC="20vh"/>
    <section class="contain">
        <section class="section1">
            <div class="title">
                <h1>Nuestros Servicios</h1>
                <h2>Descubre como podemos ayudarte</h2>
            </div>
            <Acordion/>
        </section>
    </section>
    <Footer/>
</Layout>

<style>
    .contain{
        height: auto;
        width: 100vw;
        background: transparent;
        color: var(--white);
    }
    
    .section1{
        
        height: 100vh;
        min-height: 120vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20%;
        gap: 100px;
        animation: fade-up linear both;
        animation-timeline: view();
        animation-range: entry 20% cover 40%;
    }
    .title{
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('/gif/esfera.gif');
        background-repeat: no-repeat;
        background-position-y: 20%;
        background-size: 60%;
    }
    h1{
        font-size: clamp(20px, 6vh, 50px);
        text-align: right;
        margin: 0 0 1rem 0;
    }
    h2{
        font-family: sans-serif;
        text-align: right;
        font-size: clamp(16px, 10vh, 30px);
        font-style: italic;
        font-weight: normal;
        opacity: .5;
        margin: 0;
        padding: 0;
    }
    .section2{
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h3{
        font-size: clamp(30px, 10vh, 80px);
        margin: 0;
        padding: 0;
        animation: aparecer linear both;
        animation-timeline: view();
        animation-range: entry 0% cover 50%;
    }
    @keyframes aparecer {
        0%{
            opacity: 0;
            filter: blur(20px);
            color: var(--black);
        }
        80%{
            color: var(--black);
        }
        100%{
            background-image: url(/gif/Diseño-sin-título-_2_.gif);
            background-repeat: no-repeat;
            background-size: cover;
            background-clip: text;
            color: transparent;
        }
    }
    @media (max-width: 700px) {
        .contain{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .title{
            height: 40%;
        }
        .section1{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0;
            width: 90%;
            padding: 0;
            margin-bottom: 200px;
        }
    }
</style>