---
import Layout from "../layouts/Layout.astro"
import Header from "../layouts/Header.astro"
import Footer from "../components/interface/Footer.astro"
import { ViewTransitions, fade, slide } from "astro:transitions"
---
<!-- <ViewTransitions/> -->

<Layout title="Trabajos" scroll="auto">
    <Header title="Trabajos" scrollE="50vh" scrollC="80vh"/>
    <section>
        <h1>Aún estamos <span>construyendo</span> aquí</h1>
        <p>Pronto tendremos novedades.</p>
    </section>
    <!-- <Footer/> -->
</Layout>
<style>
    section{
        background: url("/cards/2.svg") no-repeat;
        background-position: center center;
        background-size: contain;
        backdrop-filter: blur(40px);
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1{
            font-size: 40px;
            font-weight: normal;
        }
        p{
            font-size: 18px;
        }
        span{
            font-style: italic;
            font-weight: bold;
        }
    }
    @media (max-width: 700px) {
        section{
            h1{
                font-size: clamp(16px, 2em, 25px);
            }
        }
        
    }
</style>