---
interface Props{
    url: string
}
const {url} = Astro.props
---

<a href={url}>
    Cerrar
</a>
    


<style>
    a{
        background-color: #000;
        color: #efefef;
        padding: 10px;
        position: absolute;
        top: 2%;
        right: 2%;
        cursor: pointer;
        z-index: 999;
        text-decoration: none;
        opacity: .7;
    }
    a:hover{
        transition: ease-in-out .3s;
        opacity: 1;
    }
</style>