---
interface Props {
	title: string;
	href: string;
}

const { title, href} = Astro.props;
---
<div class="centrar">
    <a href={href} class="bienvenida-link" id={title}>{title}</a>
</div>

<style>
    .bienvenida-link {
        font-size: clamp(16px, 2vw, 22px);
        padding-bottom: 10px;
        text-decoration: none;
        color: #000000;
        position: relative;
    }

    .bienvenida-link::before {
        content: "";
        position: absolute;
        bottom: 8px;
        left: 0;
        width: 0;
        height: 2px;
        min-height: 2px;
        background-color: #000000;
        transition: width 0.4s ease;
        z-index: 99;
    }

    .bienvenida-link:hover::before {
        width: 100%;
    }

    .bienvenida-link::after {
        content: "➢";
        scale: .8;
        position: absolute;
        opacity: 0;
        /* transition: opacity 0.3s ease; */
        margin-left: 5px;
        /* transition: color 0.3s ease; */
    }

    .bienvenida-link:hover::after {
        opacity: 1;
    }

    .bienvenida-link:hover {
        /* transition: ease-in-out 1s; */
    }
    
</style>