---
import Link from "./Link.astro"
import { fade } from "astro:transitions";
import ViewTransitions from "astro/components/ViewTransitions.astro"

interface Props{
    position: string;
}
const {position} = Astro.props
---


    
<ViewTransitions/>
<div class="bienvenida-links" transition:animate="fade" style={`right:${position}%`}>
    <Link title="Nosotros" href="//nosotros"></Link>
    <Link title="Servicios" href="/bienvenidos/servicios"></Link>
    <Link title="Trabajos" href="/bienvenidos/trabajos"></Link>
    <Link title="Contacto" href="/bienvenidos/contacto"></Link>
</div>

<style>
    .bienvenida-links {
        /* display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: min-content; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 17px 0px; 
    grid-template-areas: 
         "."
         "."
         "."
         "."; 
    justify-content: end; 
    align-content: stretch; 
    justify-items: start; 
    align-items: stretch;
        font-size: clamp(14px, 3vw, 25px);
        font-weight: 500;
        width: 98%; */
        position: fixed;
        top: 5%;
        display: flex;
        flex-direction: column;
        z-index: 999;
        gap: 10px;
    }
    @media(max-width: 700px){
        .bienvenida-links{
            top: 3%;
        }
    }
</style>