---

---
        <div class="site-body">
            <section>
                <div class="somos">
                    <!-- <span class="barra"></span> -->
                    <div class="renglon1">
                        <h1><span class="res">somos</span> un estudio</h1>
                        <p class="chiquito">(especializado en<br>productos digitales)</p>
                    </div>
                    <h1><span class="res">creativo</span> independiente</h1>
                </div>
            </section>
            <section id="section1">
                <!-- <video loop muted autoplay class="fullscreen-bg__video"> -->
                    <!-- <source src="/public/video/inference.mp4" type="video/mp4"> -->
            </section>
            <section id="section2">
                <!-- <video loop muted autoplay class="fullscreen-bg__video"> -->
                    <!-- <source src="/public/video/inference.mp4" type="video/mp4"> -->
            </section>
            <section id="section3">
                <!-- <video loop muted autoplay class="fullscreen-bg__video"> -->
                    <!-- <source src="/public/video/inference.mp4" type="video/mp4"> -->
            </section>
            <section class="who-whe-are" >
                <p>
                    Somos un estudio de diseño que desde hace años trabaja para cumplir con todas las necesidades creativas de nuestros clientes.  
                <br><br>
                Nos destacamos por tener una dinámica de trabajo un poco diferente, estudiamos cada caso individualmente y
                <span class="destacar">resolvemos</span> cada problema que este tenga. Esto incluye los problemas que detectamos al estudiar cada caso.
                <span class="destacar">Aun si nuestros clientes no sabían de ellos.</span>
                <br>
                <br>
                Como dirían por ahí, vendemos lo que necesiten, no lo que nos piden.
                <br>
                <br>

                <span class="destacar">Resolvemos problemas</span>.
                Impulsamos <span class="destacar">ideas</span>.
                Creamos soluciones que <span class="destacar">funcionan.</span>
                
                </p>
            </section>
    </div>


<style>

    section{
        max-width: 100vw;
    }
 #section1 {
    background: url(/public/video/9.jpg) no-repeat fixed;
    background-position: center center;
    background-size: cover;
    height: 50vh;
    width: 50%;
    margin: 0 auto;
    border-radius: 16px;
    box-shadow: 0 1ch 1ch rgba(0, 0, 0, .2);
    transform: rotate(14deg);
    animation: desvaneceraaa linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 45%;
    max-height: 100vh;
}
#section2 {
    background: url(/public/video/nosotros.gif);
    background-position: center center;
    background-size: cover;
    height: 50vh;
    width: 50%;
    margin: 0 auto;
    border-radius: 16px;
    box-shadow: 0 1ch 1ch rgba(0, 0, 0, .2);
    transform: rotate(0);
    animation: desvaneceraaa linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 45%;
    max-height: 100vh;
}
#section3 {
    background: url(/public/video/10.jpg) no-repeat fixed;
    background-position: center center;
    background-size: cover;
    height: 50vh;
    width: 50%;
    margin: 0 auto;
    border-radius: 16px;
    box-shadow: 0 1ch 1ch rgba(0, 0, 0, .2);
    transform: rotate(-14deg);
    animation: desvaneceraaa linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    max-height: 100vh;
}

.who-whe-are{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        color: var(--white);
        animation: desvaneceraaa linear both;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
        h2{
            font-size: clamp(30px, 20vw, 80px);
        }
        p{    
            margin-left: 5%;
            font-size: clamp(20px, 4ch, 40px);
            width: 50%;
            text-align: left;
        }
        
    }
    .somos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
        width: 100%;
        color: var(--white);
        text-transform: uppercase;
        animation: desvaneceraaa linear both;
        animation-timeline: view();
        animation-range: entry 0% cover 45%;
        max-height: 100vh;

        h1{
            font-size: clamp(30px, 20vh, 80px);
            font-family: "IBM Plex Sans", sans-serif;
            font-weight: 500;
            font-style: italic;
            margin: 0;
            padding: 0;
        }
    }
    .renglon1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        h1{
            margin: 0 20px 0 0;
            padding: 0;
        }
    }
    .res{
        font-family: "IBM Plex serif";
        font-weight: 600;
        font-size: clamp(30px, 21vh, 84px);
    }
    .chiquito{
        font-size: 1.5em;
    }
    .destacar{
        font-size: clamp(16px, 4ch, 40px);
        font-family: 'IBM Plex serif';
        font-style: italic;
        font-weight: bold;
    }

    @keyframes desvaneceraaa {
		0% {
			opacity: 0;
			filter: blur(40px);
            /* backdrop-filter: blur(20px); */
		}
		100% {
			opacity: 1;
		}
	}
    @media (max-width: 700px) {

        .somos{
            h1{
                font-size: clamp(16px, 2em, 26px);
                margin: 0;
                padding: 0;
            }
        }
        .renglon1 {
            h1{
                margin: 0 0 0 5%;
                padding: 0;
                width: 100%;
                
            }
        }
        .res{
            font-family: "IBM Plex serif";
            font-style: italic;
            font-weight: bold;
            font-size: clamp(16px, 2em, 27px);
        }
        .chiquito{
            margin-right: 2%;
            height: 20px;
            width: auto;
            font-size: clamp(9px, .7em, 12px);
            transform: translateY(-40px);
        }
        .destacar{
            font-size: clamp(16px, 4ch, 40px);
            font-family: 'IBM Plex serif';
            font-style: italic;
            font-weight: bold;
        }
        #section1 {
                background: url(/video/9.jpg) no-repeat fixed;
                background-position: center center;
                background-size: cover;
                height: 30vh;
                width: 90vw;
            }
            #section2 {
                background: url(/video/nosotros.gif) no-repeat fixed;
                background-position: center center;
                background-size: cover;
                height: 30vh;
                width: 90vw;
            }
            #section3 {
                background: url(/video/10.jpg) no-repeat fixed;
                background-position: center center;
                background-size: cover;
                height: 30vh;
                width: 90vw;
            }
        .who-whe-are{
            p{
                font-size: clamp(14px, 4ch, 20px);
                width: 80%;
                text-align: left;
            }  
            
            }
        .destacar{
            font-size: clamp(14px, 4ch, 20px);
            font-family: 'IBM Plex serif', sans-serif;
            font-style: italic;
            font-weight: bold;
        }
    }
</style>