---
interface Props{
    positionX: string;
    positionY: string;
}
const {positionX, positionY} = Astro.props
---
<div class="container" style={`right:${positionX}%; bottom: ${positionY}%`}>

    <p>scroll down</p>
    <div class="fondo">
        <span class="scroller"></span>
    </div>
</div>

<style>
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: sticky;
        p{
            margin: clamp(10px, 2vh, 13px) 0;
            padding: 0;
            font-size: clamp(10px, 2vh, 13px);
            font-style: italic;
            font-family: serif;
        }
    }
    .fondo{
        max-height: 20px;
        min-height: 20px;
        width: 10px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .scroller{
        margin: 0;
        padding: 0;
        position: absolute;
        background-color: #000;
        border-radius: 100%;
        height: 6px;
        width: 6px;
        animation: scroller infinite 1s;
    }
    @keyframes scroller {
        to{
            top: 0%;
            opacity: 0;
        }
        from{
            top: 100%;
            opacity: 1;
        }
        
    }
</style>