---
interface Props {
    h3: string;
    p: string;
    src: string;
    href: string;
}
const { h3, p, src, href } = Astro.props;
---

<div class="card">
    <a href={href}>
        <img src={src} alt="" class="card-image" />
        <div class="card-text">
            <h3 class="card-title">{h3}</h3>
            <p class="card-paragraph">
                {p}
            </p>
            <p class="card-link">Más información<span> →</span></p>
        </div>
    </a>
</div>

<style>
    * {
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
    }
    .card {
        
        margin-right: 20px;
        min-height: 60vh;
        height: 60vh;
        min-width: calc(60vh / 1.618);
        width: calc(60vh / 1.618);
        transition: opacity 0.5s ease;
        background: var(--black);
        /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); */
        transition: ease 0.2s;
    }
    .card:hover {
        scale: 1.1;
    }
    .card-image {
        margin: 10% 10% 8% 10%;
        height: 50%;
        filter: invert(0);
    }
    .card-text {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;
        color: var(--white);
        height: 33%;
        margin: 0 10%;
    }
    .card-title {
        font-size: 2.3em;
        font-weight: bold;
        font-style: italic;
    }
    .card-paragraph {
        font-size: 14px;
    }
    .card-link {
        text-decoration: none;
        color: var(--white);
        margin: 1% 0;
        opacity: 0.5;
        transition: ease 0.2s;
    }
    .card:hover {
        .card-link {
            opacity: 1;
            span {
                transition: ease 0.4s;
                scale: 1.1;
                margin-left: 20px;
            }
        }
    }
    @media (max-width: 700px) {
        p {
            font-size: 16px;
            color: var(--white);
        }
        .card {
            background-size: 45vh;
            background-position: bottom center;
            background-color: rgb(0, 0, 0);
            min-height: 45vh;
            height: 45vh;
            min-width: calc(45vh / 1.618);
            width: calc(45vh / 1.618);
            

        }
        .card:hover {
            scale: 1;
        }
        .card-image {
            height: 26%;
            width: 80%;
        }
        .card-text {
            justify-content: space-between;
            height: 55%;
        }
        .card-title {
            font-size: 34px;
            color: var(--white);
        }
        .card-paragraph {
            font-size: 16px;
        }
        .card-link {
            opacity: .7;
            font-size: 16px;
            color: var(--white);

        }
        .card:hover {
            .card-link {
                opacity: 1;
                span {
                    color: var(--white);
                    transition: ease 0.4s;
                    scale: 1.1;
                    margin-left: 20px;
                }
            }
        }
    }
</style>
