---
interface Props{
    r1: string;
    r2: string;
    r3: string;
    space: string;
}
const { r1, r2, r3, space} = Astro.props;
---

<separador style=`margin: ${space};`>
    <h2>
        {r1}<br /><span>{r2}</span><br />{r3}
    </h2>
</separador>

<style>
    separador {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white);

        h2 {
            text-align: center;
            text-transform: uppercase;
            font-size: 5em;
            font-weight: lighter;
            font-style: italic;
        }
        span {
            font-family: sans-serif;
            font-style: normal;
            font-weight: bold;
            animation: fade-up linear both;
            animation-timeline: view();
            animation-range: entry 0% cover 60%;
        }
    }
    @keyframes slideUp {
        from {
            opacity: 0;
            filter: blur(20px);
        }
        to {
            opacity: 1;
        }
    }
    @media (max-width: 700px) {
        separador {
            display: flex;
            justify-content: center;
            align-items: center;
            h2 {
                font-size: 24px;
            }
        }
    }
    @media (max-width: 700px) {
        separador{
            margin: 10vh 0 0 0;
        }
    }
</style>
