---

---

<section>
    <div class="work-contain">
        <div class="work work1">
            <img src="/works/1.svg" alt="" />
        </div>
    </div>
    <div class="work work2">
        <img src="/works/2.svg" alt="" />
    </div>
    <div class="work work3">
        <img src="/works/3.svg" alt="" />
    </div>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        gap: 100px;
    }
    .work {
        height: 80vh;
        width: calc(80vh * 1.6018);
        animation: slide-up ease-in-out;
        animation-timeline: view();
        animation-range: entry 0vh cover 50vh;
        border-radius: 8px;

    }
    img {
        height: 100%;
        width: 100%;
        background: #00000054;
        border-radius: 8px;

    }
    .work1 {
        background: url("/works/bemder.gif") no-repeat;
        background-size: cover;
        background-position: center -60px;
    }
    .work2 {
        background: url("/works/jake.gif") no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .work3 {
        background: url("/works/tocadisco.gif") no-repeat;
        background-size: cover;
        background-position: center center;
    }
    @media (max-width: 700px) {
        .work {
            height: calc(90vw / 1.6018);
            width: 90vw;
            animation: slide-up ease-in-out;
            animation-timeline: view();
            animation-range: entry 0vh cover 50vh;

        }
        .work1 {
            background: url("/works/bemder.gif") no-repeat;
            background-size: cover;
            background-position: center center;
        }
    }
</style>
