---

---

<section>
    <div class="work-contain">
        <div class="work work1">
            <img src="/works/1.svg" alt="" />
        </div>
    </div>
    <div class="work work2">
        <img src="/works/2.svg" alt="" />
    </div>
    <div class="work work3">
        <img src="/works/3.svg" alt="" />
    </div>
    <a href="/trabajos">
        <div class="work more">
            <h3>Más trabajos</h3>
        </div>
    </a>
</section>

<style>
    a:link, :visited, :hover, :active{
        color: inherit;
    }
    a{
        text-decoration: none;
        color: none;
    }
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        gap: 100px;
    }
    .more{
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.3);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.3px);
        -webkit-backdrop-filter: blur(7.3px);
        h3{
            font-size: 30px;
            font-weight: 400;
        }
    }
    .more:hover{
        transition: ease-in-out .4s;
        background-color: var(--black);
        h3{
            color: var(--white);
        }
    }
    .work {
        height: calc(50vw / 1.618);
        width: 50vw;
        animation: slide-up ease-in-out;
        animation-timeline: view();
        animation-range: entry 0vh cover 60vh;

    }
    img {
        height: 100%;
        width: 100%;
        background: #00000054;

    }
    .work1 {
        background: url("/works/bemder.gif") no-repeat;
        background-size: cover;
        background-position: center -60px;
    }
    .work2 {
        background: url("/works/jake.gif") no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .work3 {
        background: url("/works/tocadisco.gif") no-repeat;
        background-size: cover;
        background-position: center center;
    }
    @media (max-width: 700px) {
        .work {
            height: calc(90vw / 1.6018);
            width: 90vw;
            animation: slide-up ease-in-out;
            animation-timeline: view();
            animation-delay: -2s;
            animation-range: entry 0vh cover 20%;

        }
        .work1 {
            background: url("/works/bemder.gif") no-repeat;
            background-size: cover;
            background-position: center center;
        }
        .more{
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        border: solid 1px;
        background: transparent;
        h3{
            font-size: 30px;
            font-weight: 400;
        }
    }
    }
</style>
