---
import NavBar from "../components/NavBar.astro"

interface Props {
    title: string;
    scrollE: string;
    scrollC: string;
}
const {scrollE, scrollC, title} = Astro.props
---

  <NavBar scrollE={scrollE} scrollC={scrollC}/>
  <section>
  <h1 class="titulo" >{title}</h1>
    <div class="container">
      <p>scroll down</p>
      <div class="fondo">
          <span class="scroller"></span>
      </div>
  </div>
  </section>
<style>
  .titulo{
    /* animation-delay: 1s; */
    animation: titular linear 1s;
  }
  @keyframes titular {
      from{
        transform: translateY(20%);
        opacity: 0;
      }
      to{
        opacity: 1;
      }
    }
  .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 10%;
        p{
            padding: 0;
            font-size: clamp(10px, 2vh, 13px);
            font-style: normal;
            font-family: serif;
            color: var(--white);
        }
    }
    .fondo{
        max-height: 20px;
        min-height: 20px;
        width: 10px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .scroller{
        position: absolute;
        background-color: var(--white);
        border-radius: 100%;
        height: 6px;
        width: 6px;
        animation: aaa infinite 1s;
    }
    @keyframes aaa {
        to{
            top: 0%;
            opacity: 0;
        }
        from{
            top: 100%;
            opacity: 1;
        }
        
    }
    section{
        position: relative;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: -100px;
        z-index: 2;
        animation: desvanecer linear both;
        animation-timeline: scroll(block);
        animation-range: entry 0vh cover 50vh;
        background: transparent;
        
    h1 {
      color: var(--white);
        margin: 0;
        font-size: 4em;
        text-transform: uppercase;
        text-align: center;
    }
    
  }

@keyframes desvanecer {
  to {
    background: #efefef;

  }
}
@media (max-width: 700px) {
  header{
    h1 {
        font-size: 3em;
    }
    
  }
}
</style>