---
import NavBar from "./NavBar.astro"

interface Props {
    title: string;
    scrollE: string;
    scrollC: string;
}
const {scrollE, scrollC, title} = Astro.props
---

  <NavBar scrollE={scrollE} scrollC={scrollC}/>
  <header>
      <h1 class="titulo" >{title}</h1>
      <div class="container">
          <span>scroll down</span>
          <div class="fondo">
              <span class="scroller"></span>
          </div>
      </div>
  </header>
<style>
 
  .titulo{
    animation: titular linear .7s;
  }
  @keyframes titular {
    0%{
      opacity: 0;
    }
      50%{
        transform: translateY(20%);
        opacity: 0;
      }
      100%{
        opacity: 1;
      }
    }
  .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);
        span{
            margin-bottom: 20px;
            font-size: clamp(16px, 2vh, 20px);
            font-style: normal;
            font-family: serif;
            color: var(--white);
        }
    }
    .fondo{
        max-height: 25px;
        min-height: 25px;
        width: 10px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .scroller{
        position: absolute;
        background-color: var(--white);
        border-radius: 100%;
        height: 6px;
        width: 6px;
        animation: aaa infinite 1s;
    }
    @keyframes aaa {
        to{
            top: 0%;
            opacity: 0;
        }
        from{
            top: 100%;
            opacity: 1;
        }
        
    }
    header{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: pintarBlanco linear both;
        animation-timeline: scroll(block);
        animation-range: entry 0% cover 50vh;
        
    h1 {
        color: var(--white);
        font-size: 4em;
        text-transform: uppercase;
        text-align: center;
    }
    
  }

@keyframes pintarBlanco {
  to {
    filter: blur(20px);
    transform: translateY(20%);
    opacity: 0;
    /* background: #efefef; */

  }
}
@media (max-width: 700px) {
  header{
    h1 {
        font-size: 3em;
    }
    
  }
}
</style>