---
import Hamburguesa from '../components/interface/Hamburguesa.astro';
import Logo from '../components/interface/Logo.astro';
---
  <nav>
    <a href="/" class="a">
      <Logo>
    </a>
    <div class="lista">
      <ul class="menu-regular">
        <li class="menu-regular-li"><a class="link" href="/nosotros">Nosotros</a></li>
        <li class="menu-regular-li"><a class="link" href="/servicios">Servicios</a></li>
        <li class="menu-regular-li"><a class="link" href="/trabajos">Trabajos</a></li>
        <li class="menu-regular-li"><a class="link" href="/contacto">Contacto</a></li>
    </ul>
    </div>
    
    <div class="hamburguesa">
      <Hamburguesa/>
    </div>
  </nav>
  <slot />


<style>
  .hamburguesa{
    display: none;
  }
  .link {
        color: var(--white);
        font-family: 'CabinetGrotesk-Variable', sans-serif;
        font-weight: 700;
        letter-spacing: 1px;
        /* letter-spacing: 2px; */
        /* text-transform: uppercase; */
        width: fit-content;
        position: relative; /* Añadido para el posicionamiento del pseudo-elemento */
    }
    .link:hover {
        transition: opacity ease 0.5s;
    }
    .link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px; /* Controla la distancia del subrayado respecto al texto */
        width: 0; /* Ancho inicial del subrayado */
        height: 2px; /* Grosor del subrayado */
        background-color: var(--white); /* Color del subrayado */
        transition: width 0.3s; /* Efecto de transición para el ancho */
        animation: fondo-fondo linear both;
        animation-timeline: scroll(block);
        animation-range: entry 0% cover 2vh;
      }

    .link:hover::after {
        width: 100%; /* Ancho completo al hacer hover */
    }
    nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 100vw;
    height: 100px;
    z-index: 3;
    border-radius: 8px;
    animation: fondo linear both;
    animation-timeline: scroll(block);
    animation-range: entry 0vh cover 10vh;
  }
  .lista{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-regular {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  .menu-regular-li {
    transition: all .2s;
    &:last-child {
      padding-right: 0;
    }
    a {
    color: var(--white);
    font-size: clamp(16px, 3vh, 18px);
    text-decoration: none;
    transition: all .3s;
    animation: fondo-color linear both;
    animation-timeline: scroll(block);
    animation-range: entry 0% cover 1vh;
  }
  }
.a{
  margin-left: 5%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fondo-color linear both;
  animation-timeline: scroll(block);
  animation-range: entry 0% cover 1vh;
}

@keyframes fondo-color {
  to{
    fill:var(--black);
    color: var(--black);
  }
}
@keyframes fondo-fondo {
  to{
    background-color: var(--black);
  }
}
@keyframes fondo {
  to {
    margin-top: 1em;
    width: 80%;
    background: var(--white);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
  }
  
}

@media (max-width: 700px) {
  nav{
    height: 70px;
    display: flex;
    animation-range: entry 0vh cover 10vh;
  }
  .a{
    height: 30px;
  }
  .menu-regular{
    display: none;
  }

  .hamburguesa{
    width: 25%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


}
</style>